@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$backgroundColor: hsl(229, 57%, 11%);
$cardColor: hsl(228, 56%, 26%);
$fontColor: hsl(229, 7%, 55%);
$fontSize: 14px;
$fontweight: 400;
$fontweight_bolder: 700;
$bordertesting: 2px solid red;
$_10: 10px;
$hundred: 100%;

%flex-center {
  display: flex;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font: Roboto;
}

.container {
  height: 99vh;
  width: $hundred -1%;
  @extend %flex-column-end;

  // background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
}

.bg-image img {
  width: $hundred;
  object-fit: cover;
}

.bg-image {
  height: 350px;
  width: $hundred;
  overflow-y: hidden;
}

.Fylo {
  position: relative;
  // left: 170px;
  @extend %flex-center;
  justify-content: center;
  height: 10em;

  top: 100px;
}

.Fylo-card {
  @extend %flex-center;
  justify-content: space-between;
  width: $hundred -40%;
}

.leftSideCard {
  background-color: $cardColor;

  border-radius: 10px;
  border-top-right-radius: 100px;
  @extend %flex-column;

  justify-content: space-around;

  margin-right: 20px;
  flex: 1.5;
}

.upperLeft {
  @extend %flex-center;
  margin-left: 30px;
  margin-top: 20px;
}

.logo {
  margin-left: 8px;
  cursor: pointer;
}

.lowerLeft {
  display: flex;
  margin-left: 25px;
}

.squareIcon {
  // padding: 5px;
  border-radius: 5px;
  background-color: $backgroundColor;
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.squareIcon img {
  padding: 7px 0 0 8px;
  cursor: pointer;
}

#icon-document {
  padding-left: $_10;
}

#icon-folder {
  padding-top: $_10;
}

#icon-upload {
  padding-top: 13px;
}

.rightSideCard {
  border-radius: $_10;
  @extend %flex-center;
  flex: 3;
  @extend %flex-column-end;

  position: relative;
}

.whiteBubble {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: $hundred;
  top: 0;
  right: 60px;
}

.whiteBubble img {
  // -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100px;
  height: 100px;
}

.bubbleTxt {
  position: absolute;
  color: $fontColor;
  font-weight: 900;
  top: 30px;
  right: 10px;
}

.rightContent {
  background-color: $cardColor;
  height: 130px;
  width: $hundred;
  color: $fontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.range {
  width: 80%;
  height: 20px;
  border-radius: 999px;
  display: flex;

  background-color: $backgroundColor;
}

.rangeFilled {
  background-color: white;
  border-radius: 999px;
  display: flex;
  flex-direction: row;

  width: 80%-20%;
  height: 19px;
}

.sliderRange {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.insidesliderRange {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

@media only screen and (max-width: 479px) {
  body {
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
  }

  .container {
    height: $hundred;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bg-image img {
    width: 0%;
    object-fit: cover;
  }

  .bg-image {
  }

  .Fylo {
    position: relative;
    // left: 170px;
    @extend %flex-center;
    justify-content: center;

    top: 100px;
  }

  .Fylo-card {
    @extend %flex-center;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
    height: 320px;
  }

  .leftSideCard {
    background-color: $cardColor;

    border-radius: 10px;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;
    margin-bottom: 20px;
    height: 200px;
  }

  .upperLeft {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
  }

  .logo {
    margin-left: 8px;
  }

  .lowerLeft {
    display: flex;
    margin-left: 25px;
  }

  .squareIcon {
    // padding: 5px;
    border-radius: 5px;
    background-color: $backgroundColor;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 30px;
  }

  .squareIcon img {
    padding: 7px 0 0 8px;
    cursor: pointer;
  }

  #icon-document {
    padding-left: 10px;
  }

  #icon-folder {
    padding-top: 10px;
  }

  #icon-upload {
    padding-top: 13px;
  }

  .rightSideCard {
    border-radius: 10px;
    @extend %flex-center;
    flex: 1;
    @extend %flex-column-end;
    position: static;
  }

  .whiteBubble {
    position: static;
    display: flex;

    justify-content: flex-end;
    width: 0;
    top: 0;
    right: 0;
  }

  .whiteBubble img {
    transform: scaleX(-1);
    width: 0;
    height: 0;
  }

  .bubbleTxt {
    position: absolute;
    color: $fontColor;
    font-weight: 900;
    top: 154px;
    right: 10px;
    background: white;
    border-radius: 10px;
    padding: 10px;
  }

  .rightContent {
    background-color: $cardColor;
    height: 130px;
    width: $hundred;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .range {
    width: 80%;
    height: 20px;
    border-radius: 999px;
    display: flex;

    background-color: $backgroundColor;
  }

  .rangeFilled {
    background-color: white;
    border-radius: 999px;
    display: flex;
    flex-direction: row;

    width: 80%;
    height: 19px;
  }

  .sliderRange {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .insidesliderRange {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    height: $hundred;
    width: 99%;
    @extend %flex-column-end;
    background-repeat: no-repeat;
  }

  .Fylo-card {
    justify-content: space-between;
    width: 80%;
  }
}
